.btn {
  min-width: 120px;
  height: 100%;
  text-align: center;
  padding: 1rem 2rem;
  outline: none;
  border: 5rem;
  border-radius: var(--default-radius);

  transform: translate(0);
  transition: all 0.2s ease-out;

  color: var(--font-rgb);
  font-size: 1rem;
  font-family: inherit;

  cursor: pointer;
}

@media screen and (min-width: 1024px) {

  /* show keyboard shortcut hints (subtitle) only above the viewport of 1024px */
  .btn[data-shortcut]::before {
    content: attr(data-shortcut);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    font-size: 0.8rem;
    font-weight: 100;
    font-family: inherit;
    height: 15px;
  }
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  margin: calc(var(--default-radius)/2);
  border-radius: var(--default-radius);
  background-color: var(--background-rgb);
}

.btn:focus {
  outline: 2px solid var(--glow-shadow);
  outline-offset: 2px;
}

.btn-primary {
  background-image: linear-gradient(270deg, var(--primary_clr_1), var(--primary_clr_3));
}

.btn-primary:hover {
  background-image: linear-gradient(315deg, var(--primary_clr_1), var(--primary_clr_3));
  box-shadow: 2px 2px 8px 1px var(--glow-shadow);
}

.btn-primary:active {
  background-image: linear-gradient(315deg, var(--primary_clr_1), var(--primary_clr_3));
  box-shadow: 2px 2px 6px 0px var(--glow-shadow);
}

.btn-secondary {
  background-image: var(--secondary_clr);
}

.btn-secondary:hover {
  box-shadow: 0 0 8px 2px var(--faint-shadow);
}

.btn-secondary:active {
  background-image: var(--secondary_clr);
  box-shadow: 0 0 8px 2px var(--faint-shadow);
}

.btn:disabled {
  background-image: var(--secondary_clr) !important;
  box-shadow: none !important;
  cursor: not-allowed;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .btn {
    min-width: unset;
    padding: 0.8rem 1.5rem;
  }

  .btn:focus {
    outline: 1px solid var(--glow-shadow);
    outline-offset: 1px;
  }

  .btn-primary:hover,
  .btn-secondary:hover {
    box-shadow: none;
  }

  .btn-primary:hover {
    background-image: linear-gradient(270deg, var(--primary_clr_1), var(--primary_clr_3));
  }
}