.message-screen {
  margin-bottom: calc(var(--default-margin)*3);
  padding: calc(var(--default-padding)*3);

  background: var(--foreground-rgb);
  border-radius: var(--default-radius);

  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  .message-screen {
    scroll-behavior: auto;
  }
}

.scrollable {
  position: relative;
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  background: var(--foreground-rgb);
}

.mssg {
  font-size: 1rem;
  display: inline-block;
  white-space: pre-wrap;
  /* preserve text formatting */
  word-break: break-word;
  /* same as - */
  /* word-break: normal; */
  /* overflow-wrap: break-word; */
  margin: calc(var(--default-margin)/2) 0;
  padding: var(--default-padding) calc(var(--default-padding)*2);

  border-top-left-radius: var(--default-radius);
  border-top-right-radius: var(--default-radius);

  min-width: 50px;
  max-width: 50%;
}

.mssg-left {
  align-self: flex-start;
  background: linear-gradient(180deg,
      var(--primary_clr_3) 0%,
      var(--primary_clr_2) 50%,
      var(--primary_clr_1) 90%) no-repeat center fixed;
  padding-right: calc(var(--default-padding)*3);
  border-bottom-right-radius: var(--default-radius);
}

.mssg-right {
  align-self: flex-end;
  background: var(--secondary_clr);
  box-shadow: inset -10px 10px 100vh 0 rgb(255, 255, 255, 0.1);
  padding-left: calc(var(--default-padding)*3);
  border-bottom-left-radius: var(--default-radius);
}

.mssg-left+.mssg-right,
.mssg-left+.mssg-center,
.mssg-right+.mssg-left,
.mssg-right+.mssg-center,
.mssg-center+.mssg-left,
.mssg-center+.mssg-right {
  margin-top: calc(var(--default-margin));
}

.mssg-center {
  align-self: center;
  border-radius: var(--default-radius);
  background: var(--faint-shadow);
}

@media screen and (max-width: 1280px) {
  .mssg {
    max-width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .mssg {
    max-width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .mssg {
    max-width: 90%;
  }
}